.cover-main .buttons {
    width: 100%;
  }
  
  .cover-main .buttons a {
    font-weight: 700;
    position: relative;
    display: inline-block;
    padding: 12px 25px;
    font-size: 14px;
    text-align: center;
    line-height: 18px;
    color: #221f1f;
    background: #fff;
    outline: none;
    border: none;
    background-color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    margin: 0 1rem;
    color: var(--theme-color);
    overflow: hidden;
    transition: color 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
    vertical-align: baseline;
    text-transform: uppercase;
  }
  
  .cover-main .buttons a:before,
  .cover-main .buttons a:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 2px solid var(--theme-color);
    box-sizing: border-box;
  }
  
  .cover-main .buttons a:after {
    background: var(--theme-color);
    transform: translateX(-101%);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  .cover-main .buttons a:hover {
    color: white;
    box-shadow: 0 5px 16px rgba(229, 9, 20, 0.3);
  }
  
  .cover-main .buttons a:hover:after {
    transform: translateX(0);
  }
  
  .cover-main .buttons a span {
    position: relative;
    z-index: 1;
  }
  

.markdown-section iframe[src*="buttons.github.io"] {
  margin: 0;
}

figure.thumbnails img {
  margin: 0.75em 0;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 4px 12px rgba(0,0,0,0.15);
}

@media (min-width: 30em) {
  figure.thumbnails:after {
      content: "";
      display: table;
      clear: both;
  }

  figure.thumbnails img {
      float: left;
      width: calc(50% - 0.75em);
  }

  figure.thumbnails img:nth-child(even) {
      margin-left: 1.5em;
  }

  @supports (display: flex) {
      figure.thumbnails {
          display: flex;
          align-items: center;
      }

      figure.thumbnails img {
          flex-grow: 1;
          width: 0;
      }

      figure.thumbnails img + img {
          margin: 0 0 0 1.5em;
      }
  }
}
